doctype html

doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title= subject

        include _style
      
    body
        table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
            td
            td.container
                .content
                // START CENTERED WHITE CONTAINER
                table.main(role='presentation')

                    // START MAIN AREA
                    tbody
                    tr
                        td.wrapper
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                            tr
                                td
                                // CONTENT
                                p Hi #{clientName},
                                p Thank you so much for entrusting me with your project 🙏,
                                table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                    tbody
                                        tr
                                            td(align='left')
                                                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                    tbody
                                                        tr
                                                            td
                                                            
                                p I'm going to reply you ASAP after reading you project detail carefully.
                                p - Marya Harbi, FSWD.

            //- td  
